/*
    Variables
*/

$white: #fff;
$black: #001932;
$gray-700: #323233;

$blue:#2073E5;
$lightBlue: #DDECFF;
$midBlue: #A4C8F7;
$darkBlue: #1047B8;
$navy: #00264c;

$green: #008912;
$greenIntense:#16FFAB;
$lightGreen: #D5FFF0;





